:root {
  --solarized-c-base03: #002b36;
  --solarized-c-base02: #073642;
  --solarized-c-base01: #586e75;
  --solarized-c-base00: #657b83;
  --solarized-c-base0: #839496;
  --solarized-c-base1: #93a1a1;
  --solarized-c-base2: #eee8d5;
  --solarized-c-base3: #fdf6e3;
  --solarized-c-yellow: #b58900;
  --solarized-c-orange: #cb4b16;
  --solarized-c-red: #dc322f;
  --solarized-c-magenta: #d33682;
  --solarized-c-violet: #6c71c4;
  --solarized-c-blue: #268bd2;
  --solarized-c-cyan: #2aa198;
  --solarized-c-green: #859900;
}