@import '@/assets/styles/dark-mode.css';
@import '@/assets/styles/colors.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  font-family: Roboto, Ubuntu, 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

input[type=text] {
  outline: none;
  border-style: dotted;
  border-color: var(--color-border);
  border-width: 1px;
  border-radius: 2px;
  background-color: var(--color-background);
  color: var(--color-text);
}

input[type=text]:focus {
  filter: drop-shadow(0 0 2px);
}