/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-chor {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: 0px 0px;
  width: 24px;
  height: 24px;
}
.icon-edge {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -24px 0px;
  width: 24px;
  height: 24px;
}
.icon-ereb {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: 0px -24px;
  width: 24px;
  height: 24px;
}
.icon-fet {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -24px -24px;
  width: 24px;
  height: 24px;
}
.icon-forge {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -48px 0px;
  width: 24px;
  height: 24px;
}
.icon-grail {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -48px -24px;
  width: 24px;
  height: 24px;
}
.icon-health {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: 0px -48px;
  width: 24px;
  height: 24px;
}
.icon-heart {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -24px -48px;
  width: 24px;
  height: 24px;
}
.icon-horomachistry {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -48px -48px;
  width: 24px;
  height: 24px;
}
.icon-hushery {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -72px 0px;
  width: 24px;
  height: 24px;
}
.icon-illumination {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -72px -24px;
  width: 24px;
  height: 24px;
}
.icon-ithastry {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -72px -48px;
  width: 24px;
  height: 24px;
}
.icon-knock {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: 0px -72px;
  width: 24px;
  height: 24px;
}
.icon-lantern {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -24px -72px;
  width: 24px;
  height: 24px;
}
.icon-memory {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -48px -72px;
  width: 24px;
  height: 24px;
}
.icon-mettle {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -72px -72px;
  width: 24px;
  height: 24px;
}
.icon-moon {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -96px 0px;
  width: 24px;
  height: 24px;
}
.icon-moth {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -96px -24px;
  width: 24px;
  height: 24px;
}
.icon-nectar {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -96px -48px;
  width: 24px;
  height: 24px;
}
.icon-nyctodromy {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -96px -72px;
  width: 24px;
  height: 24px;
}
.icon-phost {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: 0px -96px;
  width: 24px;
  height: 24px;
}
.icon-preservation {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -24px -96px;
  width: 24px;
  height: 24px;
}
.icon-readable {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -48px -96px;
  width: 24px;
  height: 24px;
}
.icon-room {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -72px -96px;
  width: 24px;
  height: 24px;
}
.icon-rose {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -96px -96px;
  width: 24px;
  height: 24px;
}
.icon-scale {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -120px 0px;
  width: 24px;
  height: 24px;
}
.icon-shapt {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -120px -24px;
  width: 24px;
  height: 24px;
}
.icon-skill {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -120px -48px;
  width: 24px;
  height: 24px;
}
.icon-skolekosophy {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -120px -72px;
  width: 24px;
  height: 24px;
}
.icon-sky {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -120px -96px;
  width: 24px;
  height: 24px;
}
.icon-soul {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: 0px -120px;
  width: 24px;
  height: 24px;
}
.icon-thing {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -24px -120px;
  width: 24px;
  height: 24px;
}
.icon-trist {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -48px -120px;
  width: 24px;
  height: 24px;
}
.icon-undefined {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -72px -120px;
  width: 24px;
  height: 24px;
}
.icon-winter {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -96px -120px;
  width: 24px;
  height: 24px;
}
.icon-wist {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -120px -120px;
  width: 24px;
  height: 24px;
}
