/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-beverage {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: 0px 0px;
  width: 24px;
  height: 24px;
}
.icon-birdsong {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -24px 0px;
  width: 24px;
  height: 24px;
}
.icon-bosk {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: 0px -24px;
  width: 24px;
  height: 24px;
}
.icon-candle {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -24px -24px;
  width: 24px;
  height: 24px;
}
.icon-chandlery {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -48px 0px;
  width: 24px;
  height: 24px;
}
.icon-chor {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -48px -24px;
  width: 24px;
  height: 24px;
}
.icon-cleanse-corruption {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: 0px -48px;
  width: 24px;
  height: 24px;
}
.icon-cleanse-curses {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -24px -48px;
  width: 24px;
  height: 24px;
}
.icon-cleanse-infestations {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -48px -48px;
  width: 24px;
  height: 24px;
}
.icon-cleanse-theoplasma {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -72px 0px;
  width: 24px;
  height: 24px;
}
.icon-cleanse-theoplasmic-contamination {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -72px -24px;
  width: 24px;
  height: 24px;
}
.icon-codex {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -72px -48px;
  width: 24px;
  height: 24px;
}
.icon-edge {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: 0px -72px;
  width: 24px;
  height: 24px;
}
.icon-ereb {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -24px -72px;
  width: 24px;
  height: 24px;
}
.icon-fabric {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -48px -72px;
  width: 24px;
  height: 24px;
}
.icon-fet {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -72px -72px;
  width: 24px;
  height: 24px;
}
.icon-flower {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -96px 0px;
  width: 24px;
  height: 24px;
}
.icon-forge {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -96px -24px;
  width: 24px;
  height: 24px;
}
.icon-fuel {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -96px -48px;
  width: 24px;
  height: 24px;
}
.icon-fulfilled {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -96px -72px;
  width: 24px;
  height: 24px;
}
.icon-grail {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: 0px -96px;
  width: 24px;
  height: 24px;
}
.icon-health {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -24px -96px;
  width: 24px;
  height: 24px;
}
.icon-heart {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -48px -96px;
  width: 24px;
  height: 24px;
}
.icon-horomachistry {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -72px -96px;
  width: 24px;
  height: 24px;
}
.icon-hushery {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -96px -96px;
  width: 24px;
  height: 24px;
}
.icon-illumination {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -120px 0px;
  width: 24px;
  height: 24px;
}
.icon-ithastry {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -120px -24px;
  width: 24px;
  height: 24px;
}
.icon-knock {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -120px -48px;
  width: 24px;
  height: 24px;
}
.icon-language {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -120px -72px;
  width: 24px;
  height: 24px;
}
.icon-lantern {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -120px -96px;
  width: 24px;
  height: 24px;
}
.icon-liquid {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: 0px -120px;
  width: 24px;
  height: 24px;
}
.icon-memory {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -24px -120px;
  width: 24px;
  height: 24px;
}
.icon-metal {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -48px -120px;
  width: 24px;
  height: 24px;
}
.icon-mettle {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -72px -120px;
  width: 24px;
  height: 24px;
}
.icon-moon {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -96px -120px;
  width: 24px;
  height: 24px;
}
.icon-moth {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -120px -120px;
  width: 24px;
  height: 24px;
}
.icon-nectar {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -144px 0px;
  width: 24px;
  height: 24px;
}
.icon-nyctodromy {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -144px -24px;
  width: 24px;
  height: 24px;
}
.icon-omen {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -144px -48px;
  width: 24px;
  height: 24px;
}
.icon-persistent {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -144px -72px;
  width: 24px;
  height: 24px;
}
.icon-phost {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -144px -96px;
  width: 24px;
  height: 24px;
}
.icon-pigment {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -144px -120px;
  width: 24px;
  height: 24px;
}
.icon-preservation {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: 0px -144px;
  width: 24px;
  height: 24px;
}
.icon-readable {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -24px -144px;
  width: 24px;
  height: 24px;
}
.icon-room {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -48px -144px;
  width: 24px;
  height: 24px;
}
.icon-rose {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -72px -144px;
  width: 24px;
  height: 24px;
}
.icon-scale {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -96px -144px;
  width: 24px;
  height: 24px;
}
.icon-shapt {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -120px -144px;
  width: 24px;
  height: 24px;
}
.icon-skill {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -144px -144px;
  width: 24px;
  height: 24px;
}
.icon-skolekosophy {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -168px 0px;
  width: 24px;
  height: 24px;
}
.icon-sky {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -168px -24px;
  width: 24px;
  height: 24px;
}
.icon-soul {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -168px -48px;
  width: 24px;
  height: 24px;
}
.icon-sustenance {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -168px -72px;
  width: 24px;
  height: 24px;
}
.icon-thing {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -168px -96px;
  width: 24px;
  height: 24px;
}
.icon-tool {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -168px -120px;
  width: 24px;
  height: 24px;
}
.icon-trist {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -168px -144px;
  width: 24px;
  height: 24px;
}
.icon-undefined {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: 0px -168px;
  width: 24px;
  height: 24px;
}
.icon-weather {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -24px -168px;
  width: 24px;
  height: 24px;
}
.icon-winter {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -48px -168px;
  width: 24px;
  height: 24px;
}
.icon-wist {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -72px -168px;
  width: 24px;
  height: 24px;
}
.icon-wood {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -96px -168px;
  width: 24px;
  height: 24px;
}
.icon-workstation {
  background-image: url(@/assets/images/color-sprites.png);
  background-position: -120px -168px;
  width: 24px;
  height: 24px;
}
